#version=RHEL8
# License agreement
eula --agreed
# Reboot after installation
reboot
# Use text mode install
text

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%pre --logfile=/root/ks-pre.log
dic_file="/usr/share/dict/words"
hostname=$(shuf -n 1 "$dic_file")
%end


%post --logfile=/root/ks-post.log

dnf makecache
dnf -y install epel-release
echo "Ahora vamos por los paquetes cool"
dnf -v -y neofetch bpytop
echo "My IP address: \4" >> /etc/issue
/usr/bin/firewall-offline-cmd --add-masquerade

cat  >> /etc/dnsmasq.d/mio.conf << EOF
# Set the DHCP range and lease time
interface=eth1
domain=casa.loc
dhcp-range=172.22.100.201,172.22.100.210,2h
enable-tftp
tftp-root=/var/lib/tftp
dhcp-boot=boot/grub/x86_64-efi/core.efi
#tftp-secure
log-queries
log-facility=/var/log/dnsmasq.log
# Set the DNS server to be provided to clients
dhcp-option=6,192.168.1.254

# Set the gateway
dhcp-option=3,172.22.100.200

# Set the DNS server (optional)
server=8.8.8.8
server=8.8.4.4

# Log DHCP queries
log-dhcp
EOF
mkdir -v /var/lib/tftp
grub2-mknetdir --net-directory=/var/lib/tftp --subdir=/boot/grub -d /usr/lib/grub/x86_64-efi
semanage fcontext -a -t tftpdir_t "/var/lib/tftp(/.*)?"
restorecon -v -R /var/lib/tftp
%end

%packages
@^minimal-environment
bash-completion
dnsmasq
kexec-tools
lsof
policycoreutils-python-utils
python39
syslinux-nonlinux
vim
squid
wget
grub2-efi-x64-modules
grub2-tools-extra 
grub2-pc-modules 
shim-ia32
words
setools-console
setroubleshoot-server
policycoreutils-gui
grub2-efi-x64-modules 
grub2-tools-extra 
grub2-pc-modules 
shim-ia32
-aic94xx-firmware
-alsa-firmware
-alsa-lib
-alsa-tools-firmware
-biosdevname
-iprutils
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-plymouth

%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --enabled --service=dhcp,squid,tftp
# Network information
network  --bootproto=dhcp --device=eth0 --noipv6 --activate
network  --bootproto=static --device=eth1 --ip=172.22.100.200 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=fire

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="kdump" --enabled="dnsmasq,sshd"

ignoredisk --only-use=sda
autopart
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

# System timezone
timezone America/Mexico_City

# Root password
rootpw --iscrypted $6$S.5jyCIO/CGuIq3t$87TcYsQmxmnBvjoxcZfCwWF7KYI98LiLF8Dbpymdy8oBPfGi.G1GZSHGytd25ifjjpg/yFy.8LjFtXOrxUyeq/

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
